body, html {
  margin: 0;
  padding: 0;
  font-family: Arial;
  height: 100%;
}

.login-page {
  height: 100vh;
  background-image: "url('/bgm.png')"; /* public folder image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.title {
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-bottom: 40px;
  
}

.login-box {
  width: 400px;
  padding: 30px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
  text-align: center;
  
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  box-sizing: border-box;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.create-link {
  color: #5e2b94;
  text-decoration: underline;
  cursor: pointer;
}
#root {
  width: 100%;
  height: 100%;
}